.juka-navbar {
  background-color: #3aa1e3;
}
.juka-navbar .navbar-brand,
.juka-navbar .navbar-text {
  color: rgba(255,255,255,.8);
}
.juka-navbar .navbar-nav .nav-link {
  color: rgba(241, 237, 239, 0.92);
}
.juka-navbar .nav-item.active .nav-link,
.juka-navbar .nav-item:hover .nav-link {
  color: #ffffff;
}
.error {
  color: #f10a0a;
}

.footer {
  font-size: small;
  position: fixed;
  margin-left: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #131111;
}